<section class="aboutme--background d-flex vh-100">
    <section class="aboutme--background-primary w-50 h-100"></section>
     <section class="aboutme--background-secondary">
 
        <section class="p-2 d-flex">
                        <mat-card class="aboutme--card shadow-lg ">
    <section class="mat-card-content">
        <h1>My Tool Box</h1>
        <p>Favorite Frameworks and CMS's</p>
    </section>
    </mat-card>
<section class="w-50 p-3">
                <h1>Hi There.</h1>
            <h3>Angular Developer</h3>
            <a href="#">Projects</a>
            <p>Building Things that are Responsive, Scalable and Dynamic.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro nostrum cupiditate ut aliquid dolorem ex eligendi
                distinctio est commodi, possimus ipsum accusantium alias reprehenderit nihil placeat amet adipisci voluptate
                quas?
            </p>
</section>
    </section>
</section>



</section>
   