<section class="aboutme--background d-flex h-100">
  <section class="aboutme--background-primary w-50"></section>
  <section class="aboutme--background-secondary">
    <section class="p-2 d-flex">
      <mat-card class="aboutme--card shadow ">
        <mat-card-header class="aboutme--background-card">
          <div mat-card-avatar class="aboutme--header-image"></div>
          <mat-card-title class="lym">Akilah Littlejohn</mat-card-title>
          <mat-card-subtitle>Web Developer</mat-card-subtitle>
        
        </mat-card-header>
  <mat-card-content>
             <h1>Specialized Languages and CMS's</h1>
          </mat-card-content>
      </mat-card>
      <section class="w-50 p-3 ">
        <h1 class="a-h1">Hi There.</h1>
        <h3>Building Things that are Responsive, Scalable and Dynamic.</h3>
        <a a mat-button href="#" target="_blank" class="p-2 prlink shadow-lg">
          Projects
        </a>
        <p class="m-3"></p>
        <p class="m-3 para">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
          nostrum cupiditate ut aliquid dolorem ex eligendi distinctio est
          commodi, possimus ipsum accusantium alias reprehenderit nihil placeat
          amet adipisci voluptate quas?
        </p>
      </section>
    </section>
  </section>
</section>;


   