<section class="aboutme--background vh-100">
    <section class="aboutme--background-primary w-25 h-100"></section>
    <section class="aboutme--background-secondary"></section>
</section>
<section>
    <h1>Hi There.</h1>
    <h3>Angular Developer</h3>
    <a href="#">Projects</a>
    <p>Building Things that are Responsive, Scalable and Dynamic.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro nostrum cupiditate ut aliquid dolorem ex eligendi
        distinctio est commodi, possimus ipsum accusantium alias reprehenderit nihil placeat amet adipisci voluptate
        quas?
    </p>
</section>
    <mat-card>
    <section class="mat-card-content">
        <h1>My Tool Box</h1>
        <h2>Favorite Frameworks and CMS's</h2>
    </section>
    </mat-card>
<section>
    <h1>Learning</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi temporibus dolore impedit voluptatibus possimus porro, eveniet veniam, distinctio nostrum harum repellendus asperiores officia itaque id modi facilis pariatur. Perspiciatis, sequi.</p>
    <div>
        <h1>Books</h1>
        <h1>Resources</h1>  
    </div>
</section>
